pre[class*="language-"] {
  padding: var(--spacing-m);
  margin: var(--spacing-s) 0 var(--spacing-l) !important;
  border-radius: var(--border-radius);
  overflow-x: auto;
}

:not(pre) > code {
  background-color: var(--color-background-subtle);
  color: #c7254e;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius);
  font-family: var(--font-family-code);
  font-size: 0.9em;
}